<template>
  <div>
    <div class="row">
      <form>
        <div
          id="category-title"
          class="card-header">
          <h2>New Category</h2>
          <input
            v-model.trim="newCategoryName"
            type="text"
            placeholder="new category...">
          <button
            class="btn btn-primary"
            @click.prevent="emitNewCategoryEvent">
            Save
          </button>
        </div>
        <div class="card-body"></div>
      </form>
    </div>
  </div>
</template>

<script>
  export default {
    name: "add-category",

    data() {
      return {
        newCategoryName: '',
      }
    },

    methods: {
      emitNewCategoryEvent() {
        console.log('add new category:', this.newCategoryName);
        this.$emit('addNewCategory', this.newCategoryName);
        this.newCategoryName = '';
      },
    }
  }
</script>

<style scoped>
</style>
