<template>
  <div class="category-row">
    <category class="category"
              v-for="(category, index) in categories"
              :category-data="category"
              :vote-count="voteCounts[category['.key']]"
              :key="index"
              @addNewNominee="addNewNomineeToCategory"
              @openVotingCategory="openCategoryForVoting"
              @closeVotingCategory="closeVotingForCategory">
    </category>
    <add-category
      @addNewCategory="addNewCategory">
    </add-category>
  </div>
</template>

<script>
  import category from './category';
  import addCategory from './add-category';

  import {db} from '../firebase';

  export default {
    name: 'Categories',

    components: {
      category,
      addCategory,
    },

    data() {
      return {
        categories: [],
        votes: [],
      };
    },

    computed: {
      voteCounts() {
        let votesCounts = {};

        this.votes.forEach(award => {
          votesCounts[award['.key']] = award;
        });

        return votesCounts;
      }
    },

    methods: {
      addNewNomineeToCategory(category, nominee) {
        console.log('adding nominee, ', nominee.id, ' to category ', category.title);

        let nomineesRef = this.$firebaseRefs.categories.child(category['.key']).child('nominees');
        nomineesRef.push(nominee);
        console.log($('input[name=autocomplete]'));
        $('input[name=autocomplete]').val('');
      },

      addNewCategory(categoryName) {
        let categoriesRef = this.$firebaseRefs.categories;

        console.log('adding new category', categoryName);
        categoriesRef.push({
          title: categoryName,
          startTime: '',
          endTime: '',
          votingOpen: false,
          nominees: [],
        });
      },

      openCategoryForVoting(category, votingTime) {
        let categoryId = category.id;
        let categoryRef = this.$firebaseRefs.categories.child(categoryId);
        let startTime = new Date().getTime();
        let endTime = startTime + votingTime;
        let openCategory = {
           votingOpen: true,
           startTime,
           endTime,
        }
        categoryRef.update(openCategory);

        let nominees = Object.values(category.nominees);
        let nomineesIds = nominees.map( nominee => nominee.id);

        let votesRef = this.$firebaseRefs.votes.child(categoryId);
        votesRef.once('value', snapshot => {
          let currentNominess = snapshot.val() || {};

          nomineesIds.forEach(nomineeId => {
            if (!(nomineeId in currentNominess)) {
              currentNominess[nomineeId] = ['place-holder-vote'];
            }
          });
          votesRef.update(currentNominess);
        });
      },

      closeVotingForCategory(categoryId) {
        let categoryRef = this.$firebaseRefs.categories.child(categoryId);
        let endTime = new Date().getTime();
        let closeCategory = {
           votingOpen: false,
           endTime,
        }
        categoryRef.update(closeCategory);
      },
    },
    firebase: {
      categories: {
        source: db.ref('awards'),
      },
      votes: {
        source: db.ref('votes'),
      }
    },
  };
</script>

<style scoped>
  .category-row {
    display: flex;
    flex-wrap: wrap;
  }

  .category {
    margin-right: 50px;
    margin-bottom: 20px;
  }
</style>
