<template>
  <div>
    <div class="row">
      <form>
        <div class="card">
          <h3
            class="card-header"
            :data-category-id="category.id">
            {{ category.title }}
          </h3>
          <div class="card-body">
            <div>
              <label>
                time(mins)
                <input
                  type="number"
                  min="0"
                  required
                  v-model.trim="votingTime"/>
              </label>
              <div class="btn-group">
                <button
                  class="btn btn-success"
                  :class="{ disabled: isVotingOpen }"
                  @click.prevent="openVoting">start
                </button>
                <button
                  type="button"
                  class="btn btn-warning"
                  :class="{ disabled: !isVotingOpen }"
                  @click.prevent="closeVoting">stop
                </button>
              </div>
            </div>
            <div>
              <div class="panel panel-default">
                <span>Nominees</span>
                <ul class="list-group">
                  <li v-for="nominee in nominees"
                      class="list-group-item"
                      :data-user-id="nominee.id"
                      :key="nominee.id">
                    <span>{{ nominee.name }}</span>
                    <span class="votes-box" v-html="nomineeVotes(nominee.id)"></span>
                  </li>
                </ul>
                <auto-complete
                  anchor="name"
                  label="name"
                  name="autocomplete"
                  placeholder="Add new nominee"
                  :min="3"
                  :url="searchUrl"
                  :onSelect="emitNewNomineeEvent"
                  :classes="{ input: 'form-control', wrapper: 'input-wrapper'}">
                </auto-complete>
              </div>
          </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>
<script>
import autoComplete from "vue2-autocomplete-js";
import { db } from "../firebase";

export default {
  name: 'category',

  components: {
    autoComplete,
  },

  props: {
    categoryData: {
      type: Object,
      required: true
    },
    voteCount: {
      type: Object,
    },
  },

  data() {
    return {
      searchUrl: '/users',
      votingTime: 5,
    };
  },

  computed: {
    category() {
      let categoryData = this.categoryData;
      categoryData.id = categoryData['.key'];
      return this.categoryData;
    },

    nominees() {
      return this.category.nominees || [];
    },

    categotyId() {
      return this.category.id;
    },

    isVotingOpen() {
      let votingOpen = this.category.votingOpen;
      if (votingOpen === undefined) {
        votingOpen = false;
      }
      return votingOpen;
    },

    votingTimeMilliSeconds() {
      return this.votingTime * 60 * 1000;
    },

  },

  methods: {
    emitNewNomineeEvent(userData) {
      let newNominee = {
        email: userData.email,
        name: userData.name,
        id: userData.id,
      };
      this.$emit('addNewNominee', this.category, newNominee);
    },

    openVoting() {
      this.$emit('openVotingCategory', this.category, this.votingTimeMilliSeconds)
    },

    closeVoting() {
      this.$emit('closeVotingCategory', this.categotyId);
    },

    nomineeVotes(nomineeId) {
      if (this.voteCount === undefined || this.voteCount[nomineeId] === undefined) {
        return '-';
      }
      let votes = this.voteCount[nomineeId] || [];

      let validVotes = votes.filter( vote => {
        return vote !== 'place-holder-vote';
      });

      return validVotes.length;
    },
  },

};
</script>

<style scoped>
  .input-wrapper.autocomplete-wrapper {
    margin-top: 10px;
  }

  .autocomplete.autocomplete-list {
    position: absolute;
    z-index: 10;
  }

  .btn.disabled, .btn:disabled {
    opacity: 0.35;
  }
  .votes-box {
    float: right;
  }
</style>
