<template>
  <div>
    <h3>Welcome</h3>
    <p>Select section</p>
    <router-link to="/categories">categories</router-link>
  </div>
</template>

<script>
export default {
  name: 'Landing',
  data() {
    return {

    };
  },
};
</script>

<style scoped>
</style>
